/*

PRÁCTICA 2: APLICACIÓN WEB CLIENTE BÁSICA

SERVICIOS Y APLICACIONES TELEMÁTICAS 
INGENIERÍA DE LAS TECNOLOGÍAS DE LA TELECOMUNICACIÓN

CURSO 2021/22

JUAN LUIS HERREROS BÓDALO - MANUEL BALLESTEROS BOSQUES

*/

/*Encabezado*/
h1 {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
  border-radius: 5px;
}

body {
  /*Fondo de la página*/
  background: linear-gradient(to right, #2799b1, #d5e76c);
  background-attachment: fixed;
  margin: auto;
  padding: 1%;
  max-width: 800px;
  min-width: 720px;
}

nav ul {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav div {
  display: inline-block;
  padding-inline: 5%;
}

ul {
  /*Se lo aplicamos a todas las listas*/
  padding-left: 10%;
  padding-right: 10%;
  list-style: square;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

li a {
  font-size: medium;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(95, 46, 6);
}
li a:hover {
  background-color: rgba(95, 46, 6, 0.5);
  color: white;
}

/*Contenedor principal*/
main {
  overflow: auto;
}

h2 {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  text-align: center;
  margin-inline: 5%;
}
h3 {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: justify;
}

section {
  background-image: linear-gradient(
    to left,
    rgba(0, 213, 255, 0.25),
    rgba(217, 255, 0, 0.25)
  );
  border-style: dotted;
  padding-block-end: 2%;
  border-radius: 10px;
  margin-top: 1%;
}

img {
  border: 3px solid black;
  display: block;
  margin: auto;
}

/*Footer*/
footer {
  background-color: rgba(169, 228, 228, 0.5);
  border: solid;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}
footer p {
  font-size: 0.9em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  width: fit-content;
  margin: auto;
  padding-block: 1%;
}

/*Varios*/
::selection {
  color: #d5e76c;
  background-color: #2799b1;
}

article {
  padding-inline: 5%;
}

.boton {
  /* Para todos los botones*/
  background-color: rgba(0, 0, 0, 0.1);
  border-style: ridge;
  padding: 1%;
  border-radius: 30px;
  cursor: pointer;
  border-color: black
}

.boton:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
a.menu {
  padding-block: 10px;
  padding-inline: 10px;
  font-size: larger;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
a.menu:hover {
  color: white;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}