<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://www.ujaen.es/themes/custom/ujaen_main/favicon.ico"
      type="image/vnd.microsoft.icon"
    />
    <title>Exámenes</title>
    <link rel="stylesheet" href="/estilos.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <header><h1>Exámenes</h1></header>
    <ul id="listExamen">
      {{#exams}}
      <li id="{{_id}}">
        <h3>{{title}}</h3>
        <b>Fecha:</b> {{date}} <br />
        <b>Repositorio:</b> {{repository}}
        <br />
        <button
          id="botonGrande"
          class="boton"
          onclick="borrarExamen('{{_id}}')"
        >
          Borrar
        </button>
      </li>
      {{/exams}}

      {{#ofertas}}
      <li id="{{_id}}">
        <h3>{{tipoAlojamiento}} {{nombre}}</h3>
        <b>Fecha Inicio:</b> {{fechaInicio}} <br />
        <b>Fecha Fin:</b> {{fechaFin}} <br />
        <b>Lugar:</b> {{lugar}} <br />
        <b>Descripción:</b> {{descripcion}} <br />
        <b>Precio:</b> {{precio}} euros <br />
      </li>
      {{/ofertas}}
    </ul>
  </body>
</html>
