/*Encabezado*/
header {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
  border-radius: 5px;
}

body {
  /*Fondo de la página*/
  background-image: linear-gradient(to right, #2799b1, #d5e76c);
  margin-inline: 2%;
}

/*Barra de navegación*/
nav {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* ul {
  /*Se lo aplicamos a todas las listas*/
  padding: 0;
  padding-left: 0%;
  padding-right: 0%;
}
nav li {
  display: inline-block;
  margin-inline: 9.6%;
}
.boton {
  /* Para todos los botones*/
  background-color: rgba(0, 0, 0, 0.1);
  border-style: ridge;
  padding: 1%;
  border-radius: 30px;
}
a.menu {
  font-size: larger;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/*Contenedor principal*/
main {
  overflow: auto;
}
/*Formulario*/
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  text-align: center;
}
main li {
  direction: rtl;
  list-style: none;
}
input.boton {
  width: 93%;
  margin-top: 1%;
  margin-left: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
input[type="text"] {
  color: rgb(37, 78, 25);
}
input {
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin: 0.5%;
  direction: ltr;
  background-color: rgba(240, 255, 255, 0.5);
}
input:invalid {
  color: rgb(255, 0, 0);
}
:invalid input.boton {
  background-color: rgba(0, 0, 0, 0.1);
}
label {
  direction: ltr;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  display: inline-block;
  text-align: left;
  width: 35%;
  padding-left: 5%;
}
main section {  
  float: left;
  min-width: 60%;
  background-image: linear-gradient(
    to left,
    rgba(0, 213, 255, 0.25),
    rgba(217, 255, 0, 0.25)
  );
  border-style: dotted;
  padding: 0%;
  border-radius: 10px;
}

/*Opciones de sección*/
aside {
  background-image: linear-gradient(
    to left,
    rgba(0, 213, 255, 0.25),
    rgba(217, 255, 0, 0.25)
  );
  float: right;
  height: fit-content;
  margin-top: 4%;
  max-width: 30%;
  border-style: dotted;
  padding: 1%;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
img.logo {
  width: 150px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px darkgray;
  background-color: rgba(240, 255, 255, 0.5);
  display: block;
  margin: auto;
}

/*Footer*/
footer {
  background-color: rgba(169, 228, 228, 0.5);
  border: solid;
  margin-top: 1%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 10%;
}
footer p {
  font-size: 0.9em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

/*Varios*/
::selection {
  color: #d5e76c;
  background-color: #2799b1;
}
input:required ~ label::after {
  content: "* ";
  color: red;
  font-weight: bold;
  float: right;
}
