header {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
  border-radius: 5px;
}
body {
  background-image: linear-gradient(to right, #2799b1, #d5e76c);
}
nav {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
  margin-inline: 9.5%;
}
.boton {
  background-color: rgba(0, 0, 0, 0.1);
  border-style: ridge;
  padding: 1%;
  border-radius: 30px;
}
a.menu {
  font-size: larger;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 249, 233);
}
input.boton {
  width: 93%;
  margin-top: 1%;
  margin-left: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: center;
}
section ul{
  padding-left: 0%;
  padding-right: 0%;
}
input[type="text"] {
  color: rgb(37, 78, 25);
}
input{
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
  margin: 0.5%;
}
:invalid input {
  background-color: rgba(255, 0, 0, 0.35);
  color: black;
}
:invalid input.boton {
  background-color: rgba(0, 0, 0, 0.1);
}
label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
  display: inline-block;
  text-align: left;
  width: 40%;
  padding-left: 3%;
}
main {
  overflow: auto;
}
main section {
  float: left;
  min-width: 60%;
  background-image: linear-gradient(
    to left,
    rgba(0, 213, 255, 0.25),
    rgba(217, 255, 0, 0.25)
  );
  border-style: dotted;
  padding: 0%;
  border-radius: 10px;
}
aside {
  background-image: linear-gradient(
    to left,
    rgba(0, 213, 255, 0.25),
    rgba(217, 255, 0, 0.25)
  );
  float: right;
  max-width: 30%;
  border-style: dotted;
  padding: 1%;
  border-radius: 10px;
}
aside p{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}
aside a{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}
footer {
  width: auto;
  background-color: rgba(169, 228, 228, 0.5);
}
footer p {
  font-size: 0.9em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}
img.logo {
  width: 150px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px darkgray;
  background-color: rgba(240, 255, 255, 0.5);
  display: block;
  margin: auto;
}
footer p {
  text-align: center;
}
